* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  --primary-color: #f14a16;
  $primary-color: var(--primary-color);
  --theme-primary: black;
  --theme-secondary: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mixins */
@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 2px
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

/* Header */
.header {
  padding: 10px;
  background-color: #000;

  .header__top {
    @include flex($justify-content: space-between, $align-items: center);
    margin-top: 20px;
  }

  .header__left {
    @include flex($justify-content: start, $align-items: center);
  }

  .header__center {
    @include flex($justify-content: center, $align-items: center);
    flex-grow: 1;
  }

  .header__right {
    @include flex($justify-content: flex-end, $align-items: center, $gap: 10px);
  }

  nav {
    display: inline-block;
  }

  &__hamburger-icon-wrapper {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  &__logo-wrapper {
    width: 100px;
    height: 40px;
    @include flex($justify-content: center, $align-items: center);
  }

  &__cart-icon-wrapper {
    width: 30px;
    height: 30px;
  }

  &__search-bar {
    margin-top: 10px;
    padding: 0 10px;
    border-radius: 50px;
    min-width: 250px;
    height: 40px;
    background-color: white;
    @include flex($justify-content: start, $align-items: center);

    &:active {
      background-color: red;
    }
    &__icon-wrapper {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &__input {
      border: none;
      flex-grow: 1;

      &:focus {
        outline: none;
      }
    }
  }
}

.theme {
  @include flex($justify-content: start, $align-items: center);
  margin-right: 30px;

  &__icon {
    width: 24px;
    height: 24px;
    margin: 0 5px;
  }
}

// buttons

.btn-container {
  @include flex($justify-content: start, $gap: 20px);
}
%btn-shared {
  max-width: 224px;
  min-height: 45px;
  border-radius: 1.4rem;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 700;
  flex-grow: 1;
}
.btn-primary {
  @extend %btn-shared;
  border: 1px solid transparent;
  color: white;
  background-color: var(--primary-color);
}
.btn-ghost {
  @extend %btn-shared;
  @include flex($justify-content: space-evenly);
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;

  &__icon-container {
    width: 21px;
    height: 21px;
    margin-bottom: 5px;
  }
}

/* HERO SECTION */
.hero-section {
  min-height: 100vh;
  background-color: #15102a;
  &__content {
    padding: 0 10px;
    max-width: 500px;
    &__title {
      max-width: 380px;
      color: var(--theme-secondary);
      // font-weight: 700;
      font-size: 3.5rem;

      span {
        color: var(--primary-color);
      }
    }

    &__desc {
      margin-top: 20px;
      font-size: 1.1rem;
      color: #a4a4a4;

      line-height: 40px;
    }
  }
  &__flex-wrapper {
    margin-top: 20px;
    @include flex($flex-direction: column);
  }

  &__item-list {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid red;
    max-width: 100vw;
    list-style-type: none;
    @include flex($gap: 20px, $justify-content: flex-end);
    overflow: hidden;
    padding: 20px;
  }

  &__card {
    min-height: 200px;
    min-width: 250px;
    background-color: pink;
  }

  &__down-arrow {
    margin-top: 50px;
    min-height: 100px;
    display: inline-block;
  }
}
/* Popular Trends Section */

.trend {
  background-color: aqua;

  &__title {
    text-align: center;
    font-size: 2.8rem;
    color: var(--theme-secondary);
    margin-bottom: 3 0px;
  }

  &__item-list {
    padding: 10px;
    margin-left: 20px;
    @include flex();
    background-color: grey;
  }
}

.trend-item-card {
  width: 250px;
  min-height: 465px;
  color: var(--theme-secondary);
  background-image: linear-gradient(0deg, rgb(64, 63, 63), rgb(252, 248, 248));
  border-radius: 50px;
  &__detail {
    padding: 0 20px;
    @include flex($flex-direction: column, $align-items: start, $gap: 10px);
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
  }

  &__feature {
    padding-left: 30px;
  }

  &__price {
    color: rgba(252, 153, 24, 1);
    font-size: 1.2rem;
  }
}
